CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.ninja_deps
.ninja_log
build.ninja
libglfw3.a
libglad.a
*.exe
.vscode
*.a
imgui.ini
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
ptrace
